<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>中长途旅客出行线路规划平台</title>
    <link rel="stylesheet" type="text/css" href="~/css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/css/text.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/css/grid.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/css/layout.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/css/nav.css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="~/css/ie6.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="~/css/ie.css" media="screen" /><![endif]-->
    <link href="~/css/fancy-button/fancy-button.css" rel="stylesheet" type="text/css" />
    <!--Jquery UI CSS-->
    <link href="~/css/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN: load jquery -->
    <script src="~/js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/jquery-ui/jquery.ui.core.min.js"></script>
    <script src="~/js/jquery-ui/jquery.ui.widget.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui/jquery.ui.accordion.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui/jquery.effects.core.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui/jquery.effects.slide.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui/jquery.ui.mouse.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui/jquery.ui.sortable.min.js" type="text/javascript"></script>
    <script src="~/js/table/jquery.dataTables.min.js" type="text/javascript"></script>
    <!-- END: load jquery -->
    <!--jQuery Date Picker-->
    <script src="~/js/jquery-ui/jquery.ui.widget.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui/jquery.ui.datepicker.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui/jquery.ui.progressbar.min.js" type="text/javascript"></script>
    <!-- jQuery dialog related-->
    <script src="~/js/jquery-ui/external/jquery.bgiframe-2.1.2.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui/jquery.ui.mouse.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui/jquery.ui.draggable.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui/jquery.ui.position.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui/jquery.ui.resizable.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui/jquery.ui.dialog.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui/jquery.effects.core.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui/jquery.effects.blind.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui/jquery.effects.explode.min.js" type="text/javascript"></script>
    <!-- jQuery dialog end here-->
    <script src="~/js/jquery-ui/jquery.ui.accordion.min.js" type="text/javascript"></script>
    <!--Fancy Button-->
    <script src="~/js/fancy-button/fancy-button.js" type="text/javascript"></script>
    <script src="~/js/setup.js" type="text/javascript"></script>
    <!-- Load TinyMCE -->
    <script src="~/js/tiny-mce/jquery.tinymce.js" type="text/javascript"></script>
    <!-- END: load jquery -->
    <script src="~/js/setup.js" type="text/javascript"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            //setupLeftMenu();
            setupTinyMCE();
            setupProgressbar('progress-bar');
            setDatePicker('date-picker1');
            setDatePicker('date-picker2');
            setupDialogBox('dialog', 'opener');
            $('input[type="checkbox"]').fancybutton();
            $('input[type="radio"]').fancybutton();

            $('.datatable').dataTable();
            setSidebarHeight();
            $("#example_info").text("1 到 10 条");
            $("#example_filter label").html("<label>搜索: <input type='text'></label>");
            $("#example_length").html('<label>显示 <select size="1" name="example_length"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> 条</label>');
            
        });
    </script>
    <style>
        .prev-next {
            position: absolute;
            bottom:34px;
            right: 100px;
        }

            .prev-next a {
                font-weight: bolder;
                text-decoration: underline
            }
    </style>
</head>
<body>
    <div class="container_12">
        <div class="grid_12 header-repeat">
            <div id="branding">
                <div class="floatleft" style="color: white;font-size: 25px;">
                    中长途旅客出行线路规划平台
                    @*<img src="~/img/logo.png" alt="Logo" />*@
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="grid_12">
            <ul class="nav main">
                <li class="ic-dashboard"><a href="dashboard.html"><span>数据集展示</span></a></li>
                <li class="ic-form-style"><a href="/Line/Search?type=1"><span>线路查询</span></a></li>
                <li class="ic-grid-tables"><a href="/Line/Search?type=2"><span>算法比较</span></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
        <div class="grid_2">
            <div class="box sidemenu">
                <div class="block" id="section-menu">
                    <ul class="section menu">
                        <li>
                            <a asp-controller="City" asp-action="Index">城市数据集</a>
                        </li>
                        <li>
                            <a class="menuitem">站点数据集</a>
                            @*<ul class="submenu">
                                <li><a asp-controller="Train" asp-action="Station">火车</a></li>
                                <li><a asp-controller="Flight" asp-action="Station">飞机</a></li>
                                <li><a asp-controller="Ship" asp-action="Station">轮船</a></li>
                            </ul>*@
                        </li>
                        <li>
                            <a class="menuitem">线路数据集</a>
                            @*<ul class="submenu">
                                <li><a asp-controller="Train" asp-action="Line">火车</a></li>
                                <li><a asp-controller="Flight" asp-action="Line">飞机</a></li>
                                <li><a asp-controller="Ship" asp-action="Line">轮船</a></li>
                            </ul>*@
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid_10">
            <div class="box round first grid">
                <h2>
                    @ViewData["Title"]
                </h2>
                <div class="block">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="clear">
    </div>
    <div id="site_info">
        <!-- <p>
            Copyright <a href="#">BlueWhale Admin</a>. All Rights Reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
        </p> -->
    </div>
    <div class="prev-next">
        <a>上一页</a>
        <a>下一页</a>
        <!-- <input type="button" value="上一页"/>
        <input type="button" value="下一页"/> -->
    </div>
</body>
</html>