@{
    ViewData["Title"] = "线路查询";
}

<script type="text/javascript">
    $(document).ready(function () {
        //setupTinyMCE();
        //setupProgressbar('progress-bar');
        setDatePicker('date-picker');
        setupDialogBox('dialog', 'opener');
        $('input[type="checkbox"]').fancybutton();
        $('input[type="radio"]').fancybutton();
    });
</script>

<div>
    <label>
        出发城市：
        <select>
            <option>大连</option>
        </select>
    </label>
    <label>
        出发站点：
    </label>
    <input type="checkbox" />大连站
    <input type="checkbox" />大连北
    <input type="checkbox" />周水子国际机场
    <input type="checkbox" />大连港
    <input type="checkbox" />旅顺港
</div>
<div>
    <label>
        目的城市：
        <select>
            <option>嘉兴</option>
        </select>
    </label>
    <label>
        目的站点：
    </label>
    <input type="checkbox" />嘉兴
    <input type="checkbox" />嘉兴南
    <input type="checkbox" />旅顺港
</div>
<div>
    <label>
        出行方式：
    </label>
    <input type="checkbox" />任意
    <input type="checkbox" />火车
    <input type="checkbox" />高铁
    <input type="checkbox" />飞机
    <input type="checkbox" />轮船
</div>
<div>
    <label>
        换乘选择：
    </label>
    <input type="radio" />任意
    <input type="radio" />同站换乘
    <input type="radio" />同类方式换乘
    <input type="radio" />飞机
    <input type="radio" />轮船
</div>
<div>
    <label>
        出行时间：
    </label>
    <input type="text" id="date-picker" />
    <label>
        到达时间：
    </label>
    <input type="text" id="date-picker" />
</div>

<div>
    <label>
        首要参考值：
    </label>
    <input type="text" id="date-picker" />
    <input type="radio" />综合
    <input type="radio" />出行总花费
    <input type="radio" />出行总时间
    <input type="radio" />换乘时间
    <input type="radio" />换乘次数
</div>

<table class="data display datatable" id="example">
    <thead>
        <tr>
            <th>航班信息</th>
            <th>起始地</th>
            <th>起始地机场</th>
            <th>目的地</th>
            <th>目的地机场</th>
            <th>起飞时间</th>
            <th>到达时间</th>
            <th>价格</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    $.ajax({
        url: "/Flight/LineData",
        type: "GET",
        data: {page:10},
        success: function (param) {
            $("#example tbody").empty();
            for (var i = 0; i < param.length; i++) { 
                var str = "";
                var item = param[i];
                if (i % 2 == 0) {
                    str += '<tr class="odd">';
                    str += '            <td class="center">' + item.fn + '</td>';
                    str += '            <td class="center">' + item.acn + '</td>';
                    str += '            <td class="center">' + item.apbn + '</td>';
                    str += '            <td class="center">' + item.dcn + '</td>';
                    str += '            <td class="center">' + item.dpbn + '</td>';
                    str += '            <td class="center">' + item.at + '</td>';
                    str += '            <td class="center">' + item.dt + '</td>';
                    str += '            <td class="center">' + item.lp + '</td>';
                    str += '</tr>';
                } else { 
                    str += '<tr class="even">';
                    str += '            <td class="center">' + item.fn + '</td>';
                    str += '            <td class="center">' + item.acn + '</td>';
                    str += '            <td class="center">' + item.apbn + '</td>';
                    str += '            <td class="center">' + item.dcn + '</td>';
                    str += '            <td class="center">' + item.dpbn + '</td>';
                    str += '            <td class="center">' + item.at + '</td>';
                    str += '            <td class="center">' + item.dt + '</td>';
                    str += '            <td class="center">' + item.lp + '</td>';
                    str += '</tr>';
                }
                $("#example tbody").append(str);
            }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
        }
    });
</script>
